{% extends "layout.html" %}

{% block content %}
  <div class="section text-center">
    <a class="btn btn-lg btn-default" href="/stage">Stage</a>
    <a class="btn btn-lg btn-success" href="/object">Object</a>
    <a class="btn btn-lg btn-primary" href="/control">Control</a>
    <a class="btn btn-lg btn-warning" href="/lighting">Lighting</a>
    <a class="btn btn-lg btn-danger" href="/camera">Camera</a>
  </div>
{% endblock %}

{% block script %}
  <script src="/public/app.js"></script>
{% endblock %}
