<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Game</title>
  <meta name="description" content="Game">
  <meta name="author" content="christianmsakai@gmail.com">

  <!-- <link rel="stylesheet" href="/public/vendor.css"> -->
  <link rel="stylesheet" href="/public/app.css">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container">
    <h1 class="text-center">Game</h1>
    <h3 class="text-center">This is a playground</h3>
  </div>

 <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="/public/vendor.js"></script>
  <script src="/public/phaser.js"></script>

  {% block script %}
  {% endblock %}

</body>
</html>
