<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Game</title>
  <meta name="description" content="Game">
  <meta name="author" content="christianmsakai@gmail.com">

  <link rel="stylesheet" href="/public/app.css">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container">
    <h1 class="text-center">Game</h1>
    <h3 class="text-center">This is a playground</h3>

    {% block content %}
    {% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.1/phaser.min.js"></script>
  <script src="/public/app.js"></script>
</body>
</html>
